@use '../abstracts/vars';
@use '../abstracts/media-queries';

body{
    background: vars.$clr-white-blue;
}

.mt-footer{
    margin-top: 49px;
}

.custom-modal{
    width: 1826px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 28px;
}

.header-mc{
    background: vars.$clr-orange;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.modal-design{
    background: vars.$clr-white-blue;
    border-radius: 25px;
    border: none;
}