@use '../abstracts/vars';
@use '../abstracts/mixins';
@use '../abstracts/media-queries';

//fonts

.txt-menu{
    @include mixins.set-font(vars.$ff-primary, vars.$fw-sbold, vars.$fs-30);
    margin-top: 39px;
    @include media-queries.respond-to(media-queries.$large-desktop){
        font-size: vars.$fs-26;
        margin-top: 30px;
    }
    @include media-queries.respond-to(media-queries.$phone){
        text-align: center;
    }
}

.txt-search{
    @include mixins.set-font(vars.$ff-secondary, vars.$fw-med, vars.$fs-30);
    margin-top: 28px;
}

.txt-result{
    @include mixins.set-font(vars.$ff-secondary, vars.$fw-bold, vars.$fs-30);
}

//fonts

.cards-recipes{
    gap: 2.438rem;
    flex-wrap: wrap;
    margin-top: 28px !important;
    justify-content: center;
    @include media-queries.respond-to(media-queries.$large-desktop){
        gap: 26px;
        margin-top: 19px !important;
    }
    @include media-queries.respond-to(media-queries.$phone){
        margin-top: 44px !important;
    }
}

.m-null{
    margin-bottom: 592px;
}